.product-cube {
    height: 300px;
}

.product-thumbnail {
    max-height: 220px;
    min-height: 220px;
}

.product-name {
    padding-top: 10px;
}

@media only screen and (min-width: 320px) and (max-device-width: 736px) {
    .products-track {
        width: 100% !important;
    }
}
